/* iOS places the subtitle above the title */
ion-card-header.ios {
	display: flex;
	flex-flow: column-reverse;
}

.card-content {
	margin: 0;
	padding: 0;
	//background-color: #e5f6fd;
}

.card-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card-top-right {
	display: flex;
	align-items: center;
}

.card-top-left h2 {
	font-size: 19pt;
	margin: 0;
	color: #262626;
}

.card-top-left p {
	font-size: 13pt;
	text-transform: capitalize;
	margin: 0;
	margin-top: 2px;
}

.card-top-right h2 {
	font-size: 26pt;
	margin: 0;
	color: #262626;
}

.card-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}
.card-bottom-left h3 {
	font-size: 15pt;
	margin: 0;
	color: #262626;
}
.card-bottom-left p {
	font-size: 13pt;
	color: #70757a;
	margin: 0;
	margin-top: 2px;
}

.card-bottom-right p {
	text-align: right;
	font-size: 13pt;
	margin: 0;
	color: #70757a;
}

@media screen and (min-width: 100px) {
	.row {
		padding: 0;
		margin: 0;
	}
	.column {
		margin: 0;
		padding: 0;
	}
	.card {
		margin: 10px 5px;
		padding: 0;
	}
}
